[Desktop Entry]
Name=Awesome
Ceomment=Highly configurble framework window manager
TryExec=awesome
Exec=/usr/bin/awesome
Type=Application
Keywords=Window manager
